.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon_wrapper {
  border-radius: 50%;
  padding: 24px;
  background-color: var(--bg-color-secondary);
  color: var(--bg-color-primary);
  width: 96px;
  height: 96px;
}

.button {
  padding: 8px 0;
  min-width: 280px;
  margin-top: 24px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  margin-bottom: 36px;
}
