.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 8px 0;
  min-width: 120px;

  border: 1px solid var(--bg-color-primary);
  border-radius: 6px;

  cursor: pointer;
}

.button:disabled {
  background-color: var(--bg-color-secondary);
  border-color: var(--bg-color-secondary);
  color: var(--text-color-white);
  cursor: not-allowed;
}

.outlined {
  background-color: transparent;
  color: var(--text-color-primary);
}

.outlined:active {
  color: var(--text-color-secondary);
}

.contained {
  background-color: var(--bg-color-primary);
  color: var(--text-color-white);
}

.contained:active {
  background-color: var(--bg-color-secondary);
}

@media (width <= 360px) {
  .button {
    min-width: 80px;
  }
}
